<div>Hello Angular with NX Workspace</div>

<img style="width: 200px" src="/assets/images/angular.svg" alt="angular" />

<div>
  <h2>Pokemon</h2>
  <div>
    <p-button
      label="loadPokemonByState"
      (onClick)="sendRequest()"
      icon="pi pi-search"
      iconPos="left"
    ></p-button>
  </div>
</div>
<div>
  <div *ngFor="let pokemon of pokemon$ | async">
    {{ pokemon.name }}
  </div>
</div>

<h2>Example Validators Form</h2>

<ac-accenture-validators-message>
  <label for="username">Username</label>
  <input
    [formControl]="nameInputForm"
    id="username"
    type="username"
    aria-describedby="username-help"
    pInputText
  />
</ac-accenture-validators-message>

<ac-accenture-validators-message>
  <label for="password">Password</label>
  <input
    [formControl]="passwordInputForm"
    id="password"
    type="password"
    aria-describedby="password-help"
    pInputText
  />
</ac-accenture-validators-message>

<ac-accenture-validators-message>
  <label for="email">Email</label>
  <input
    [formControl]="emailInputForm"
    id="email"
    type="email"
    aria-describedby="email-help"
    pInputText
  />
</ac-accenture-validators-message>

<ac-accenture-validators-message>
  <label for="quality">Quality</label>
  <input
    [formControl]="qualityInputForm"
    id="quality"
    type="quality"
    aria-describedby="quality-help"
    pInputText
  />
</ac-accenture-validators-message>

<h2>loadImage by Directive</h2>
<p-button label="loadImage" (onClick)="switchImage()"></p-button>
<div *acHttpImage="let url of imageUrl">
  <img [src]="url" alt="Hello" />
</div>

<h2>Responsive with directive</h2>
<img
  *acViewportSize="'xl'"
  src="https://imgflip.com/s/meme/Sexy-Cat.jpg"
  alt="chiba"
/>
<img
  *acViewportSize="'lg'"
  style="width: 350px"
  src="https://imgflip.com/s/meme/Excited-Cat.jpg"
  alt="chiba"
/>
<img
  *acViewportSize="'md'"
  style="width: 330px"
  src="https://imgflip.com/s/meme/Grumpy-Cat-Not-Amused.jpg"
  alt="chiba"
/>
<img *acViewportSize="'sm'" src="https://i.imgflip.com/2/2hgfw.jpg" alt="cat" />

<h2>Paste Image</h2>

<div acOnPasteImage #pasteImage="acOnPasteImage">
  <ng-container *ngFor="let file of pasteImage.files">
    <img [src]="file | fileToImageUrl | async" alt="description" />
  </ng-container>
</div>
