<div>Hello Angular with NX Workspace</div>

<img style="width: 200px" src="/assets/images/angular.svg" alt="angular" />

<div>
  <h2>Pokemon</h2>
  <div>
    <p-button
      label="loadPokemonByState"
      (onClick)="sendRequest()"
      icon="pi pi-search"
      iconPos="left"
    ></p-button>
  </div>
</div>
<div>
  <div *ngFor="let pokemon of pokemon$ | async">
    {{ pokemon.name }}
  </div>
</div>

<h2>Example Validators Form</h2>

<ac-accenture-validators-message>
  <label for="username">Username</label>
  <input
    [formControl]="nameInputForm"
    id="username"
    type="username"
    aria-describedby="username-help"
    pInputText
  />
</ac-accenture-validators-message>

<ac-accenture-validators-message>
  <label for="password">Password</label>
  <input
    [formControl]="passwordInputForm"
    id="password"
    type="password"
    aria-describedby="password-help"
    pInputText
  />
</ac-accenture-validators-message>

<ac-accenture-validators-message>
  <label for="email">Email</label>
  <input
    [formControl]="emailInputForm"
    id="email"
    type="email"
    aria-describedby="email-help"
    pInputText
  />
</ac-accenture-validators-message>

<ac-accenture-validators-message>
  <label for="quality">Quality</label>
  <input
    [formControl]="qualityInputForm"
    id="quality"
    type="quality"
    aria-describedby="quality-help"
    pInputText
  />
</ac-accenture-validators-message>
